<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier l'utilisateur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Modifier l'utilisateur</h2>
        
        <form th:action="@{/employee/update}" method="post" enctype="multipart/form-data" th:object="${myuser}">
            <input type="hidden" th:field="*{id}">
            
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" th:field="*{name}" required>
            </div>
            
            <div class="form-group">
                <label>Nom d'utilisateur</label>
                <input type="text" class="form-control" th:field="*{username}" required>
            </div>
            
            <div class="form-group">
                <label>Poste</label>
                <input type="text" class="form-control" th:field="*{poste}">
            </div>
            
            <div class="form-group">
                <label>Département</label>
                <input type="text" class="form-control" th:field="*{dep}">
            </div>
            
            <div class="form-group">
                <label>Date d'embauche</label>
                <input type="date" class="form-control" th:field="*{emb}">
            </div>
            
            <div class="form-group">
                <label>Statut</label>
                <input type="text" class="form-control" th:field="*{statut}">
            </div>
            <div class="form-group">
                <label>Role</label>
                <input type="text" class="form-control" th:field="*{role}">
            </div>
            <div class="form-group">
                <label>MDP</label>
                <input type="text" class="form-control" th:field="*{password}"
            </div>
            
            
            
            <div class="form-group">
                <label>Image actuelle</label>
                <img th:if="${myuser.image}" th:src="@{${myuser.image}}" class="mb-2" style="max-width: 200px;">
                <input type="file" class="form-control-file" name="imageFile">
            </div>
            
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
            <a th:href="@{/employee}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>